[uwsgi]
project_dir =  /home/kikadevices/
chdir       =  %(project_dir)

master      =  true

socket      = /run/uwsgi/%n.sock
chmod-socket  = 666


env         =  PYTHONUSERBASE=%(project_dir)/py-env
env         =  PYTHONPATH=%(project_dir)/py-lib
env         =  CONFIG_FILE=%p

plugin      =  python27
plugin      =  gevent_python27
gevent      =  1000
mount       =  /status=%(project_dir)/http-publisher/publish-to-web.py
manage-script-name = true


cron          = -5 -1 -1 -1 -1 %(project_dir)/xively-logger/xively-logger.py
cron          = -5 -1 -1 -1 -1 %(project_dir)/influxdb-logger/temperatures.py
cron          = -5 -1 -1 -1 -1 %(project_dir)/influxdb-logger/lan-devices.py
cron          = -5 -1 -1 -1 -1 %(project_dir)/influxdb-logger/status.py


attach-daemon2 = cmd=exec %(project_dir)/zmq-publisher/read-and-publish.py
attach-daemon2 = cmd=exec %(project_dir)/zmq-publisher/receive-and-write.py
attach-daemon2 = cmd=exec %(project_dir)/twitter-status/twitter-status.py

[publisher]
pub_addr            = tcp://*:5556
rep_addr            = tcp://*:5557
serial_device       = /dev/ttyUSB0

[zmq]
publisher_addr      = tcp://127.0.0.1:5556

[twitter]
consumer_key        = xxx
access_token_key    = yyy
access_token_secret = zzz
consumer_secret     = www

[xively-status]
feed_id=111
api_key=xxx

[xively-temperature]
feed_id=222
api_key=yyy

[influxdb]
database=influxdb://localhost:8086/mydb

[Lan Devices]
exclude_list=00:11:22:33:44:55
    11:22:33:44:55:66
    22:33:44:55:66:77
