[uwsgi]
project_dir   =  /home/kikadevices/
chdir         =  %(project_dir)
uid           =  kikadevices
gid           =  dialout

master        =  true
http-socket   =  :5001

env           =  PYTHONUSERBASE=%(project_dir)/py-env
env           =  PYTHONPATH=%(project_dir)/py-lib
env           =  CONFIG_FILE=%p

plugins       =  python,gevent
gevent        =  1000
wsgi-file     =  %(project_dir)/http-publisher/publish-to-web.py

cron          = -5 -1 -1 -1 -1 %(project_dir)/xively-logger/xively-logger.py

attach-daemon2 = cmd=exec %(project_dir)/zmq-publisher/read-and-publish.py,uid=kikadevices,gid=dialout
attach-daemon2 = cmd=exec %(project_dir)/zmq-publisher/receive-and-write.py,uid=kikadevices,gid=dialout
attach-daemon2 = cmd=exec %(project_dir)/twitter-status/twitter-status.py,uid=kikadevices

[publisher]
pub_addr            = tcp://*:5556
rep_addr            = tcp://*:5557
serial_device       = /dev/ttyUSB0

[zmq]
publisher_addr      = tcp://127.0.0.1:5556

[twitter]
consumer_key        = xxx
access_token_key    = yyy
access_token_secret = zzz
consumer_secret     = www

[xively-status]
feed_id=111
api_key=xxx

[xively-temperature]
feed_id=222
api_key=yyy

[influxdb]
database=influxdb://localhost:8086/mydb
